body{
    /*border: 1px solid pink;*/
    background-color: #e8fdf8;
    height: 100vh;
    padding: 5px;
    box-sizing: border-box;
}
.div-0{
    /*border: 1px solid black;*/
    position: relative;
    width: 70%;
    height: 95%;
    display: inline-block;
}
.cabeza{
    /*border: 1px solid black;*/
    position: relative;
    margin: 2px;
    width: 99%;
    height: 20%;
}
.logo{
    position: absolute;
    width: 31px;
    height: 48px;
    left: 100px;
    top: 35px;
}
.seccion{
    /*border: 1px solid black;*/
    height: 78%;
    width: 99%;
    margin: 2px;
}
.div-1{
    /*border: 1px solid black;*/
    width: 99.4%;
    height: 80%;
    margin: 2px;
    position: relative;
}
.texto-1{
    position: absolute;
    border: 0;
    background-color: #e8fdf8;
    margin: 1px;
    resize: none;
    outline: none;
    width: 88%;
    height: 87%;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: justify;
}
.div-1 ::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    color:#0A3871;
    opacity: 60%;
}
.bot{
    /*border: 1px solid black;*/
    position: absolute;
    margin: 1px;
    width: 88.5%;
    height: 13%;
    left: 100px;
    top: 85.5%;
    display: flex;
    align-items: center;
}
.alert{
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 1px;
}
.div-1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #495057;
    position: absolute;
    left: 34px;
    vertical-align: center;
    text-align: center;
    opacity: 80%;
}
.div-3{
    width: 99.4%;
    height: 18%;
    margin: 2px;
    position: relative;
}
input{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.encriptar{
    position: absolute;
    background-color: #0A3871;
    color: #ffffff;
    left: 100px; 
    top: 10%;
}
.desencriptar{
    position: absolute;
    background-color: #D8DFE8;
    color: #0A3871;
    right: 100px;
    top: 10%;
    border: 1px solid #0A3871;
}
.div-2{
    width: 29%;
    height: 95%;
    margin-left: 5px;
    border-radius: 32px;
    background-color: #ffffff;
    display: inline-block;
    /*border: 1px solid black;*/
}
.div-2 .texto2{    
    border: 0;
    outline: none;
    background-image:url(img/munieco.svg);
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 32px 32px 0 0;
    margin: 1px;
    padding: 32px 5px 1px 5px;
    width: 96.5%;
    height: 72%;
    position: relative;
    float: left;
    resize: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: justify;
    color: #495057;
}
.div-2 ::placeholder{
    position: relative;
    font-weight: bold;
    color: #343A40;
    font-size: 24px;
    text-align: center;
    top: 70%;
}
.sub-div{
    border-radius: 0 0 32px 32px ;
    height: 21%;
    margin: 1px;
    width: 99%;
    bottom: 1px;
    position: relative;
    float: left;
}
.copy{
    background: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
    position: absolute;
    top: 30%;
    left: 8%;
}
footer{
    position: relative;
    width: 100%;
    height: 5%;
}
footer h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    bottom: 1px;
    font-weight: bold;
    color: #0A3871;
    position: absolute;
    right: 1px;
}
@media screen and (max-width:480px){
    .div-0{
        width: 85%;
    }
    .logo{
        left: 20px;
    }
    .seccion{
        width: 100%;
    }
    .div-1{
        width: 100%;
    }
    .texto-1{
        left: 20px;
        font-size: 16px;
        width: 100%;
    }
    .div-1 ::placeholder{
        font-weight: bold;
        font-size: 16px;
    }
    .bot{
        margin: 1px;
        left: 20px;
    }
    .alert{
        width: 15px;
        height: 15px;
        position: absolute;
        margin: 1px;
    }
    .div-1 p{
        font-size: 8px;
        left: 17px;
    }
    .div-3{
        width: 100%;
    }
    input{
        width: 160px;
        height: 50px;
    }
    .encriptar{
        left: 20px; 
        top: 5%;
    }
    .desencriptar{
        right: 0px;
        top: 5%;
    }
    .div-2{
        width: 93%;
        height: 180px;
        position: relative;
        left: 20px;
        background-color: #ffffff;
    }
    .div-2 .texto2{    
        background: #ffffff;
        padding:5px;
        width: 97%;
        height: 93%;
        font-size: 16px;
        border-radius: 32px;
    }
    .div-2 ::placeholder{
        color: #343A40;
        font-size: 16px;
        text-align: center;
        top: 0;
    }
    .copy{
        visibility: hidden;
    }

    footer{
        width: 98%;
        bottom: 1px;
    }
}
@media screen and (max-width:375px){
    .div-0{
        width: 94.5%;
        height: 80%;
    }
    .cabeza{
        margin: 0;
        width: 100%;
        height: 20%;
    }
    .logo{
        position: absolute;
        left: 45%;
        top:20%;
        transition: 0.5s;
        object-fit: cover;
    }
    .logo:hover {
        transform: scale(1.2);
    }
    .seccion{
        width: 100%;
        height: 80%;
        margin: 0;
    }
    .div-1{
        width: 99.5%;
        margin: 0;
    }
    .div-1 ::placeholder{
        text-align: center;
    }
    .texto-1{
        left: 0;
        width: 98%;
    }
    .bot{
        left: 0;
    }
    .div-3{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    input{
        width: 99%;
        height: 50%;
    }
    .encriptar{
        left: 0; 
        top: 0;
    }
    .desencriptar{
        margin-top: 1px;
        left: 0;
        top: 50%;
    }
    .div-2{
        width: 93.5%;
        height: 13%;
        left: 0;
    }
    .div-2 .texto2{    
        padding:0;
        width:99%;
        height: 95%;
    }
    footer{
        height: 3%;
        width: 95%;
    }
}